.site-footer {
    position: relative;
    background-image: url(../images/footer/bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 48px 0px;
}

.footer__inner {
    display: flex;
    align-items: center;
}

.footer__box {
    margin-left: 103px;
}

.footer__fox {
    margin-left: auto;
}
.footer-box__list{
    display: flex;
}
.footer-box__item+.footer-box__item {
    margin-left: 33px;
}
.footer__list {
    display: flex;
    align-items: flex-end;
}

.footer__item+.footer__item {
    margin-left: 20px;
}

.footer__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.footer__link:hover {
    color: #FEFCF7;
    ;
}
.mobile-footer__logo{
    display: none;
}
@media only screen and (max-width: 729px) {
    .footer {
        padding: 54px 0;
    }

    .footer__inner {
        flex-direction: column;
    }

    .footer__logo {
        text-align: center;

    }

    .footer__box {
        margin-left: 0%;
        margin-top: 34px;
    }

    .footer__fox {
        margin-left: 0%;
        margin-top: 65px;
    }
}


@media only screen and (max-width: 576px) {
    .footer__logo{
        display: none;
    }
    .mobile-footer__logo{
        display: block;
    }
    .footer-box__list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-box__item+.footer-box__item {
        margin-left: 0px;
        margin-top: 24px;
    }
}